{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|striptags} | {/ifset}Nette Sandbox</title>

	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<meta name="viewport" content="width=device-width">
	{block head}{/block}
</head>

<body>
	<div>
		{if $user->isLoggedIn()}
			Přihlášený uživatel: {$user->getIdentity()->user_login}({$user->getIdentity()->user_email})
			<span> | </span>
			<a href="{plink Sign:out}">Odhlásit se</a>
		{else}
			<a href="{plink Sign:in}">Přihlásit se</a>
		{/if}
	</div>
	<div>
		<ul>
			<li><a n:href="Homepage:">Domů</a></li>
			<li><a n:href="User:">Uživatelé</a></li>
		</ul>
	</div>
	<hr>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	
	{include content}
		
	{block scripts}
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
