{block content}
<h2>Seznam uživatelů</h2>
	<table class="users">
		<th>Jméno a příjmení</th>
		<th>Login</th>
		<th>Email</th>
		<th></th>
		<th></th>
		<tr n:foreach="$users as $user">
			<td>{$user->user_name}</td>
			<td>{$user->user_login}</td>
			<td>{$user->user_email}</td>
			<td><a n:href="User:detail, $user->user_id">Editovat</a></td>
			<td><a href="{link deleteUser!, $user->user_id}">Smazat</a></td>
		</tr>
	</table>
	
	<a href="{link insertNewUser!}">Přidat nového uživatele</a>

{/block}


{block head}

{/block}
